body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 100vh;
}

.output img {
  animation-duration: 10ms !important;
}
/* 
Mr Hinkle helped us with the image import speed
*/